main {
  padding-top: 125px;
  height: 600px;
  justify-content: center;
}

.headerTxt {
  color: #606060;
  text-align: center;
  margin-bottom: 30px;
}

/* Inputy i labele */

.registerInput {
  width: 400px;
  height: 50px;
  border: 1px solid #707070;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  text-align: left;
  color: #606060;
  padding-left: 10px;
}

.typeInput {
  width: 225px;
  height: 45px;
  border: 1px solid #707070;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  text-align: left;
  color: #606060;
  padding-left: 10px;
  margin-top: 5px;
}

.uniLabel {
  display: block;
  color: #7e7e7e;
  margin-top: 10px;
}

.login-btn {
  width: 413px;
  height: 50px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 24px;
  color: white;
  background: #3734a2;
  cursor: pointer;
  margin-top: 15px;
}

.login-btn:hover {
  background: #42419c;
}

.register-a {
  color: #7e7e7e;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

/* Divy */

.flex-div {
  display: flex;
  justify-content: center;
}

.name-div {
  display: block;
  float: left;
  margin-right: 25px;
}

.invalidData {
  color: red;
  margin: 0px;
  display: none;
}
