/*    główny panel    */

main {
  display: flex;
  padding-top: 125px;
  color: #606060;
  height: 500px;
}

aside {
  width: 40%;
  height: 600px;
}

aside p {
  width: 90%;
  padding-left: 10%;
}

.topText {
  margin: 0 0 15px 0;
  font-size: 75px;
}

.midText {
  margin: 20px 0;
  font-size: 60px;
}

.bottomText {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 20px;
}

article {
  width: 60%;
  height: 500px;
  margin-top: 4%;
}

.help-div {
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(240, 240, 240);
  align-items: center;
  border-radius: 15px;
}

.help-btn {
  width: 45%;
  height: 80px;
  margin: 2%;
  background-color: #3734a2;
  color: white;
  border: none;
  border-radius: 15px;
  font-weight: BOLD;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.help-btn:hover {
  background-color: #42419c;
}

/*    stópka    */

footer {
  position: fixed;
  bottom: 0;
  background-image: url(images/Home.png);
  width: 100%;
  height: 200px;
}
